
#baby-header{
	
	background: #333;
	width:100%;
	text-align:center;
	vertical-align: center;
}
#baby-header h1{
	height:64px;
	margin:0;
}
#baby-header nav {
height:64px;

}
body{
	background:#222;;
	color:#fff;
}
a{
	color:#adf;

}
button.active

#events-list{
	padding: 0 1em;
}
#events-list .event{
	
	margin:1px 0 0 0 ;
	clear:left;
	border-width: 1px;
	border-style: solid;
	border-radius:4px;

	height:64px;
	overflow:hidden;
}
#events-list .event h3,#events-list .event p{
	margin:0 0 4px; 0
}
.event {
	padding: 0 0 0 64px;
	margin-bottom:4px;
}

.feeding{
	border-color: #f00;
	background-image:url("bg_feed.png");
	background-color: #600;
	color:#fff;
		padding: 0 0 0 64px;
	background-position: left center;
	background-repeat: no-repeat;
}
.diaper{
	border-color: #0f0;
	background-image:url("bg_diaper.png");
	background-color: #060;
	color:#fff;
		padding: 0 0 0 64px;
	background-position: left center;
	background-repeat: no-repeat;

}
.sleep{
	border-color: #00f;
	background-color: #006;
	background-image:url("bg_sleep.png");
	color:#fff;
		padding: 0 0 0 64px;
	background-position: left center;
	background-repeat: no-repeat;

}