body{
	background:#222;;
	color:#fff;
	min-width: 320px;
	margin:0 4px;
}
article{
	margin:8px 4px;
}

a{
	color:#fff;

}
h1, h2{
	margin:8px 0;
}
input{
	font-size:16px;
	padding:4px;
	margin:4px 0px;
}
#baby-header{
	
	background: #333;
	width:100%;
	text-align:center;
	vertical-align: center;
}
#baby-header button{
	margin-right:4px;
}

#user{
	float:right;
	padding:0 0 4px 4px;
	border:1px solid #222;
	margin:-1px -1px 0 0;
	background:#333;
	text-align:left;
	vertical-align: middle;
}
#user span{

	padding-bottom:8px;
}
#user img{
	width:32px;
	height:32px;
	border-radius: 16px;
	border:2px solid #eee;

}
#user  ul{
	display:none;
}
#user:hover ul{
	display:block;
}
#tab-nav{
	border-bottom: 1px solid #444;
}
#tab-nav a{
	display:inline-block;
	margin:0 4px 0 0;
	padding:4px 8px;
	background: #333;
	font-weight:bold;

}
#tab-nav a.active{
	background: #555;

}
#events-list, #button-list{
	background:#333;
	border-collapse: collapse;
	text-align: left;

}
#events-list td.icon{
	padding-left:32px;
}
#events-list td, #button-list td{
	vertical-align: center;
	border-bottom: 4px solid #333;
	
	padding:4px 8px;
}
#events-list td.icon{
	width:16px;
}
#chart{


}
.filter{
display:inline-block;
margin:0 32px 4px 0;
border-bottom:1px solid #eee;
}

#glance-list{ 

}
#glance-list h3{ 
	margin:0;
}
#glance-list .event{
	margin:0 0 4px 0;
	padding:4px 8px;
}


a.refresh::before{
	content: "&e5d5;";
	font-family: 'Material Icons';
    text-transform: none;
	font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
a.refresh::close{
	content: "close"
}
a.refresh::before{
	content: "refresh"
}
