<!DOCTYPE html>

<html ng-app="babyApp">
<head>
	<title>Baby Test</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="media/base.css"/>
	<link rel="stylesheet" href="media/web.css"/>
	<script src="media/babyData.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	
	
	<script>

	//After load do all the cool stuff.
	document.addEventListener("DOMContentLoaded", function(){
		window.bD = new babyData("theChart");
		bD.updateChart([
			bD.dataset("diaper",[1,2,3]),
			bD.dataset("feeding",[2,1,4]),
			bD.dataset("sleep",[12,11,14]),
			] ,{
				height:document.getElementById("theChart").width,
				width:document.getElementById("theChart").height/3*2,
				graph_type:"bar",
				background:false,
				label_axis_x:"Number",
				label_axis_y:"Days Ago"
			});
				
	}, false);


	</script>
	<script>
	angular.module('babyApp', [])
		.controller('babyController', function($scope, $http) {
			var babyController = this;
			this.baby={};
			this.User={};
			this.glance = {};
			this.search = {};
			
			this.ServiceUrl="../Service.ashx";

			//called at init
			this.init =function(bd){
				
			//	console.log(bD.query);
				this.search = this.readQueryString();

				this.getBaby(this.search.baby);
				
			};

			//gets data for the baby.
			this.getEventData = function(babyId){
				$http.get(this.ServiceUrl+"?type=babyevents&id="+babyId).then(

					function(response){
						var events = response.data.events;
						console.log(events);
						for(var i =0; i < events.length; i++){
							babyController.addEvent(events[i]);
						}
					},
					function(response){
						console.log("error @ load events", response);

					}
					
				);
					
				//calculate time_agoago
			};
			//sets data for baby
			this.addEvent = function(event){

				if(!babyController.baby.events){
					babyController.baby.events = [];
				}
				if(babyController.baby.events.indexOf(event)<0){
					babyController.baby.events.push(event);
					if(!babyController.glance[event.type] ||
						babyController.glance[event.type].time < event.time){
						babyController.glance[event.type] = event;
					}
					
				}

			};
			this.reportEvent=function(type, subtype, details){



				$http.post(this.ServiceUrl+
					"?type=babyevents"+
					"&id="+babyController.baby.id+
					"&eventtype="+ type +
					"&subtype="+ subtype||"" +
					"&details="+ details||"").then(
						function(response){
							
							babyController.addEvent(response.data.events[0]);
						},
						function(response){
							console.log("error @ load user", response);
							babyController.addEvent("ERROR",
							response.data.server_error.type+": " +
								response.data.server_error.message);
						}
					);
			}
			//used to do tabbed interface.
			this.showTab=function(ele_id){
				var tgt = document.getElementById(ele_id);
				if(tgt){
					var tabs = document.getElementsByClassName("tab");
					for(var i = 0; i < tabs.length;i++){
						tabs[i].classList.remove("show");
						tabs[i].classList.add("hide");
					}
					tgt.classList.add("show");
					tgt.classList.remove("hide");
				}
			};
			//Gets user data
			this.getUserData=function(username){
				$http.get(this.ServiceUrl+"?type=user&id="+babyId).then(
					function(response){
						console.log("success", response)
					},
					function(response){
						console.log("error @ load user", response);

					}
				);

			};

			//get requested baby
			this.getBaby=function(babyId){
				$http.get(this.ServiceUrl+"?type=baby&id="+babyId).then(
					function (response){
						babyController.baby= response.data;
						babyController.getEventData(babyController.baby.id);

					},
					function (response){
						console.log("error @ baby load", response);
						babyController.baby= {
							"name":"ERROR LOADING BABY",
							"events":[]
						};
						//show on the baby list.
						babyController.addEvent("ERROR",
							response.data.server_error.type+": " +
								response.data.server_error.message);
						document.getElementById("baby-header").classList.add("error");
						
					}
				);
			};

			//update teh chart
			this.updateChart=function(days,filters){
				//TODO get data from the baby
				var data= {};

				console.log("updatechart",days, filters);

//				bD.updateChart(data);
			};
			//turn time stamp into a time ago

			this.getAgo=function(timestamp){
				var ts = Math.abs(Date.parse(timestamp) - new Date());
			
				if(ts){
					if(ts <1000){
						ts ="now"
					}
					else if(ts < 60000){ //1 minute
						ts = Math.round(ts/1000) +" seconds ago";

					}
					else if(ts < 3600000){ //1 hour
						ts = Math.round(ts/60000) +" minutes ago";

					}
					else if(ts < 86400000){ //1 day
						ts = Math.round(ts/3600000) +" hours ago";

					}
					else{
						ts = Math.round(ts/86400000) +" days ago";
					}
				}
				return ts;
			};

			//this is where we 
			this.readQueryString = function(){
				var search = {};
				var query = unescape(window.location.search.substring(1)).split("&");
				for(var i = 0 ; i < query.length;i++){

					var eq= query[i].indexOf('=');
					search[query[i].substring(0,eq)] = query[i].substring(eq+1);
				}
				return search;
			}


			this.init();
		});


	</script>

</head>
<body ng-controller="babyController as bC" >
	<header id="baby-header">
		<h1>{{bC.baby.name}}</h1>
		<nav id="action-bar">
			<button class="diaper" ng-click="bC.reportEvent('diaper','poo')">DIAPER<br/>Poo </button>
			<button class="diaper" ng-click="bC.reportEvent('diaper','pee')">DIAPER<br/>Pee</button>
			<button class="feeding" ng-click="bC.reportEvent('feeding','breast')">FEEDING<br/>breast</button>
			<button class="feeding" ng-click="bC.reportEvent('feeding','breast')">FEEDING<br/>bottle</button>
			<button class="sleep" ng-click="bC.reportEvent('sleep','down')">SLEEP <br/> Down</button>
			<button class="sleep" ng-click="bC.reportEvent('sleep','up')">SLEEP <br/> up</button>
		</nav>
		<nav class="tab-nav">
			<a ng-click="bC.showTab('glance')">glance</a>
			<a ng-click="bC.showTab('timeline')">Timeline</a>
			<a ng-click="bC.showTab('chart')">Chart</a>
		</nav>
	</header>
	
	<article>
		
		<div id="timeline" class="tab hide">
			<h2> Event Timeline</h2>

			<div id="events-list"  ng-repeat="event in bC.baby.events| orderBy:'-time'">
				<div class="event {{event.type.toLowerCase()}}" id ="event-{{event.id}}">
					<div class="chunk time" timestamp="{{event.time}}">
						<p>{{bC.getAgo(event.time)}}</p>
					</div>
					<div class="chunk type">
						<h3>{{event.type.toUpperCase()}}</h3>
						<p>{{event.subtype}}</p>
					</div>
					<div class="chunk user">
						<p><a href="#{{event.user}}">@{{event.user}}</a></p>
						</div>
					<div class="chunk details">
						<p>{{event.details}}</p>
						
					</div>
				</div>	
			</div>

		</div>
		<div id="chart"  class="tab hide">
			<h2>Chart</h2>
			<p>DATA VIS</p>
			<canvas id="theChart" width="640" height="480"></canvas>
			<div id="filters">
			 filters go here.
			</div>
			<button ng-click="bC.updateChart(1)">TODAY</button>
				<button ng-click="bC.updateChart(2)">YESTERDAY</button>
				<button ng-click="bC.updateChart(7)">WEEK</button>
				<button ng-click="bC.updateChart(28)">MONTH</button>
				<button ng-click="bC.updateChart(-1)">ALL</button>
			</div>

		<div id="glance" class="tab show">
			<h2>At a Glance</h2>
			<div id="glance-list" ng-repeat="event in bC.glance| orderBy:'-time'">
				<div class="event {{event.type.toLowerCase()}}" id ="event-{{event.id}}">
					<div class="chunk time" timestamp="{{event.time}}">
						<p>{{bC.getAgo(event.time);}}</p>
					</div>
					<div class="chunk type">
						<h3>{{event.type.toUpperCase()}}: {{event.subtype}} </h3>
					</div>
					<div class="chunk user">
						<p><a href="#{{event.user}}">@{{event.user}}</a></p>
						</div>
					<div class="chunk details">
						<p>{{event.details}}</p>
						
					</div>
				</div>
			</div>
		</div>
	</article>
	<footer>
	this is wasted space.
	</footer>
</body>
</html>
