<!DOCTYPE html>

<html ng-app="babyApp">
<head>
	<title>Baby Test</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="media/base.css"/>
	<link rel="stylesheet" href="media/web.css"/>

	<script src="media/babyData.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="media/babyApp.js"></script>



</head>
<body ng-controller="babyController as bC" >
	<header id="baby-header">
		<div id="user" class="{{bC.user.type}}">
			<a href="user.html">@{{bC.user.username}}</a>
			<ul id="my-baby-list" >
				<li ng-repeat="perm in bC.user.permissions" class="{{perm.type}}">
				<a href="?baby={{perm.baby}}">{{perm.baby}}</a>
				</li>
			</ul>
		</div>
		<h1>{{bC.baby.name}}</h1>
		<nav id="action-bar">
			<button class="{{button.type}}" ng-repeat="button in bC.buttons" ng-click="bC.reportEvent(button.type,button.subtype,button.details)">{{button.type.toUpperCase()}}<br/>{{button.subtype}}</button>

		</nav>
	</header>
	
	<article>
		<nav id="tab-nav">
			<a class="tab-button active" ng-click="bC.showTab('glance',$event)">At A Glance</a>
			<a class="tab-button" ng-click="bC.showTab('timeline',$event)">Timeline</a>
			<a class="tab-button" ng-click="bC.showTab('chart',$event)">Chart</a>
			<a class="tab-button" ng-click="bC.showTab('event',$event)">Custom Event</a>
			<a class="tab-button" ng-click="bC.showTab('customize',$event)">Customize Appearence</a>
		</nav>

		<div id="timeline" class="tab hide">
			<h2> Event Timeline</h2>
			<p>A list of events and when they happpened</p>
			<table id="events-list" >
				<thead>
					<tr>
					<th></th>
					<th>When it happend</th>
					<th>What happened</th>
					<th>Who reported it</th>
					<th>Details</th>
					</tr>
				</thead>
				<tbody>
				<tr ng-repeat="event in bC.baby.events| orderBy:'-time'" class="event {{event.type.toLowerCase()}}" id ="event-{{event.id}}">
					<td class="icon {{event.type.toLowerCase()}}"></td>
					<td class="time" timestamp="{{event.time}}">
						{{bC.getAgo(event.time)}}
					</td>
					<td class="type">
						<strong>{{event.type.toUpperCase()}}</strong><br/>
						{{event.subtype}}
					</td>
					<td class="user">
						<a href="#{{event.user}}">@{{event.user}}</a>
						</td>
					<td class="details">
						{{event.details}}
						
					</td>
				</tr>
				</tbody>	
			</table>
		</div>


		<div id="chart"  class="tab hide">
			<h2>Chart</h2>
			<p>Let's graph stuff</p>
			<form novalidate>
				<p>Include:</p>
				<div id="filters"> 
					<div class="filter" ng-repeat="event in bC.glance">
						<label for="{{event.type}}">{{event.type.toUpperCase()}}</label>
						<input name="{{event.type}}" type="checkbox" 
							checked="true" 
							ng-model="bC.chartform[event.type]"><br/>

					</div>
				</div>
				<label for="days">Show Days</label>
				<input name="days" type="range" min="1" max="30" value="{{bC.chartform.days}}||1" ng-model="bC.chartform.days">
				<span>{{bC.chartform.days}}</span><br/>

			
				<label for="submit">&nbsp;</label>
				<input name="submit" type="submit" ng-click="bC.updateChart(bC.chartdata)"><br/>
				
			</form>
			<canvas id="theChart" width="640" height="480"></canvas>
		</div>
			

		<div id="glance" class="tab show">
			<h2>At a Glance</h2>
			<p>The most recent event of every type.</p>
			<div id="glance-list" >
				<div ng-repeat="event in bC.glance" class="event {{event.type.toLowerCase()}}" id ="event-{{event.id}}">
					<h3>{{event.type.toUpperCase()}}: {{event.subtype}} </h3>
					<div time="{{event.time}}">
						{{bC.getAgo(event.time);}} by @{{event.user}}
					</div>
			

				</div>
			</div>
		</div>
		<div id="event" class="tab hide">
			<h2>Custom event</h2>
			<p>Some time s you need to add an event We didn't think about.</p>

			<div>
				<input type="hidden" name="type" value="babyevents"/>
				<input type="hidden" name="id" value="{{bC.baby.id}}"/><br/>
				<input type="text" name="event" placeholder="Event Type" ng-model="bC.customEvent.type"/><br/>
				<input type="text" name="event" placeholder="Event Subtype" ng-model="bC.customEvent.subtype"/><br/>
				<input type="text" name="details" placeholder="Details" ng-model="bC.customEvent.details"/><br/>
				<button ng-click="bC.reportEvent(bC.customEvent.type, bC.customEvent.subtype, bC.customEvent.details)">Report Event Now</button>
				<button ng-click="bC.addButton(bC.customEvent.type, bC.customEvent.subtype, bC.customEvent.details)">Add to top bar</button>
				</div>
		</div>
		<div id="customize" class="tab hide">
			<h3>Color Config</h3>
			<p>Set teh highlight colors for your events</p>
			<div>
				<div ng-repeat="event in bC.glance" >
					<input type="color" ng-init="bC.colors[event.type.toLowerCase()] = bC.colors[event.type.toLowerCase()]||bD.getColorFromString(event.type)" ng-model="bC.colors[event.type.toLowerCase()]"/>

					<label for="{{event.type}}">{{event.type}}</label>
					
					<style type="text/css">
					.{{event.type.toLowerCase()}}{background: {{bC.colors[event.type.toLowerCase()]}}!important;}
					</style>
				</div>
			<button ng-click="alert('todo')"><s>Save Colors</s></button>
			</div>
			<h3>Buttons</h3>
			<p>Configure buttons ({{bC.user.displaydata.button.length}})</p>
			
			<table id="button-list">
				<thead>
					<tr>
					<th>Type</th>
					<th>Subtype</th>
					<th>Details</th>
					</tr>
				</thead>
				<tbody>
				<tr ng-repeat="button in bC.buttons" class="{{button.type}}">
					<td>{{button.type}}</td>
					<td>{{button.subtype}}</td>
					<td>{{button.details}}</td>
					<td>remove</td>
				</tr>
				</tbody>
			</table>
			<button ng-click="alert('todo')"><s>Save Buttons</s></button>
		</div>
	</article>
	<footer>
	&copy; Brunjes
	</footer>
</body>
</html>
