<!DOCTYPE html>

<html ng-app="babyApp">
<head>
	<title>Baby Test</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="media/base.css"/>
	<link rel="stylesheet" href="media/web.css"/>
	<script src="media/babyData.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="media/babyApp.js"></script>
	
	<script>

	//After load do all the cool stuff.
	document.addEventListener("DOMContentLoaded", function(){
		window.bD = new babyData("theChart");
		bD.updateChart([] ,{
				height:document.getElementById("theChart").height,
				width:document.getElementById("theChart").width,
				graph_type:"bar",
				background:false,
				label_axis_x:"Number",
				label_axis_y:"Days Ago"
			});
				
	}, false);


	</script>
	

</head>
<body ng-controller="babyController as bC" >
	<header id="baby-header">
		<div id="user">
			
		</div>
		<h1>{{bC.baby.name}}</h1>
		<nav id="action-bar">
			<button class="diaper" ng-click="bC.reportEvent('diaper','poo')">DIAPER<br/>Poo </button>
			<button class="diaper" ng-click="bC.reportEvent('diaper','pee')">DIAPER<br/>Pee</button>
			<button class="feeding" ng-click="bC.reportEvent('feeding','breast')">FEEDING<br/>breast</button>
			<button class="feeding" ng-click="bC.reportEvent('feeding','breast')">FEEDING<br/>bottle</button>
			<button class="sleep" ng-click="bC.reportEvent('sleep','down')">SLEEP <br/> Down</button>
			<button class="sleep" ng-click="bC.reportEvent('sleep','up')">SLEEP <br/> up</button>
		</nav>
		<nav class="tab-nav">
			<button ng-click="bC.showTab('glance')">glance</button>
			<button ng-click="bC.showTab('timeline')">Timeline</button>
			<button ng-click="bC.showTab('chart')">Chart</button>
		</nav>
	</header>
	
	<article>
		
		<div id="timeline" class="tab hide">
			<h2> Event Timeline</h2>

			<div id="events-list"  ng-repeat="event in bC.baby.events| orderBy:'-time'">
				<div class="event {{event.type.toLowerCase()}}" id ="event-{{event.id}}">
					<div class="chunk time" timestamp="{{event.time}}">
						<p>{{bC.getAgo(event.time)}}</p>
					</div>
					<div class="chunk type">
						<h3>{{event.type.toUpperCase()}}</h3>
						<p>{{event.subtype}}</p>
					</div>
					<div class="chunk user">
						<p><a href="#{{event.user}}">@{{event.user}}</a></p>
						</div>
					<div class="chunk details">
						<p>{{event.details}}</p>
						
					</div>
				</div>	
			</div>

		</div>
		<div id="chart"  class="tab hide">
			<h2>Chart</h2>
			
			<form novalidate>
				<p>Include:</p>
				<div id="filters" ng-repeat="event in bC.glance">
					<label for="{{event.type}}">{{event.type.toUpperCase()}}</label>
					<input name="{{event.type}}" type="checkbox" 
						checked="true" 
						ng-model="bC.chartform[event.type]"><br/>

				</div>
				<label for="days">Show Days</label>
				<input name="days" type="range" min="1" max="30" value="7" ng-model="bC.chartform.days">
				<span>{{bC.chartform.days}}</span><br/>

			
				<label for="submit">&nbsp;</label>
				<input name="submit" type="submit" ng-click="bC.updateChart(bC.chartdata)"><br/>
				
			</form>
			<canvas id="theChart" width="640" height="480"></canvas>
		</div>
			

		<div id="glance" class="tab show">
			<h2>At a Glance</h2>

			<div id="glance-list" ng-repeat="event in bC.glance">
				<div class="event {{event.type.toLowerCase()}}" id ="event-{{event.id}}">
					<div class="chunk time" timestamp="{{event.time}}">
						<p>{{bC.getAgo(event.time);}}</p>
					</div>
					<div class="chunk type">
						<h3>{{event.type.toUpperCase()}}: {{event.subtype}} </h3>
					</div>
					<div class="chunk user">
						<p><a href="#{{event.user}}">@{{event.user}}</a></p>
						</div>
					<div class="chunk details">
						<p>{{event.details}}</p>
						
					</div>
				</div>
			</div>
		</div>
		<div id="info" class="tab hide">
			<h2>Baby Details</h2>

			<div id="permission-list" ng-repeat="permission in bC.permissions">
				{{permission.type}} {{permission.user}}
			</div>
		</div>
	</article>
	<footer>
	this is wasted space.
	</footer>
</body>
</html>
